<?xml version="1.0" encoding="UTF-8"?>
<!--Config file for this application. Layout specified by config.dtd-->
<!-- Note that IntelliJ may incorrectly flag this, so try compiling anyway-->
<!DOCTYPE config SYSTEM "config/config.dtd">
<config>
    <logging>trace</logging>
    <bot>
        <id>fltestaccountbot</id>
        <token>s9i1CYgdaEtZKCus</token>
    </bot>
    <environment>https://lichess.dev</environment>
    <engine>engines/stockfish_20011801_x64.exe</engine>
</config>